a {
    &:link,
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
}

.color-white {
    color: $color-white !important;
}

.color-black {
    color: $color-black !important;
}

.color-yellow {
    color: $color-yellow !important;
}

.color-blue {
    color: $color-blue !important;
}

.color-grey-1 {
    color: $color-grey-1 !important;
}

.color-grey-2 {
    color: $color-grey-2 !important;
}

.color-blue-1 {
    color: $color-blue-1 !important;
}

.color-red {
    color: $color-red !important;
}

.color-blue-2 {
    color: $color-blue-2 !important;
}

.color-blue-3 {
    color: rgba($color-blue-2, .5) !important;
}

.bg-white {
    background-color: $color-white !important;
}

.bg-black {
    background-color: $color-black !important;
}

.bg-yellow {
    background-color: $color-yellow !important;
}

.bg-blue {
    background-color: $color-blue !important;
}

.bg-grey-1 {
    background-color: $color-grey-1 !important;
}

.bg-grey-2 {
    background-color: $color-grey-2 !important;
}

.bg-blue-1 {
    background-color: $color-blue-1 !important;
}

.bg-red {
    background-color: $color-red !important;
}

.bg-transparent {
    background-color: transparent !important;
}

.bg-blue-2 {
    background-color: $color-blue-2 !important;
}

.bg-blue-3 {
    background-color: rgba($color-blue-2, .5) !important;
}

.b-0 {
    border: none !important;
}

.text-bold {
    font-weight: bold;
}

.text-bolder {
    font-weight: bolder;
}