/*
Yellow color: #FECC0A;
Blue color: #0E163D;
Grey color: #00000029;
Black color: #000000;
White color: #ffffff;
*/

$color-red: #F05132;
$color-yellow: #fecc0a;
$color-green: #008000;
$color-blue: #0E163D;
$color-blue-1: #12A1ED;
$color-blue-2: #1230D9;
$color-grey-1: #202020;
$color-grey-2: #292929;
$color-grey-3: #141414;
$color-black: #000000;
$color-white: #ffffff;
$regular-font: 'AronGrotesque-light',
sans-serif;
$header-font: 'AronGrotesque-bold',
sans-serif;