.bread-crumb {
    padding: 1.5rem 2.5rem;
    list-style: none;
    margin-bottom: 0rem;
    &__list {
        display: inline-block;
        margin: 1rem;
        font-size: 1.6rem;
        color: $color-white;
        font-weight: 500;
    }
    &__link {
        margin-right: .5rem;
        &,
        &:focus,
        &:hover {
            color: inherit;
            font-weight: inherit;
        }
    }
    &__link ion-icon {
        color: inherit;
    }
}