.header {
    height: 100vh;
    padding-top: 4rem;
    background-image: linear-gradient(to left, rgba($color-black, .7), rgba($color-black, .7)), url('../images/banner.png');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    &__text-box {
        color: $color-white;
    }
}

.heading-main {
    margin-bottom: 4.5rem;
    &--header {
        display: block;
        font-size: 7rem;
        line-height: 9rem;
        text-transform: capitalize;
    }
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 500;
        line-height: 3rem;
    }
}